# 1. 판다스 데이터
#### - 세가지의 자료구조를 지원
#### - 1차원 자료구조인 시리즈(Series),  2차원 자료구조인 데이터프레임(DataFrame)을 지원
  
## 1.1 시리즈
####  - 모든 데이터 유형을 저장 할 수 있는 1차원 레이블이 지정된 배열
#### - 열 레이블을 총칭하여 인덱스라고 한다
#### - 인덱스와 짝지어진 데이터로 되어 있다
#### - 딕셔너리, 리스트, 튜플 등으로 만들 수 있다

In [3]:
# 라이브러리 불러들이기
import pandas as pd

In [5]:
sd1 = pd.Series(['Doc','Cat','Tiger','Lion','Monkey'])

sd1

0       Doc
1       Cat
2     Tiger
3      Lion
4    Monkey
dtype: object

In [8]:
sd1 = pd.Series(['Doc','Cat','Tiger','Lion','Monkey'],
                 index = ['00','11','22','33','44'])

sd1

00       Doc
11       Cat
22     Tiger
33      Lion
44    Monkey
dtype: object

### 1.1.1 딕셔너리 -> 시리즈로

In [11]:
dict_data = {'a':1,'b':2,'c':3}

dict_data

{'a': 1, 'b': 2, 'c': 3}

In [13]:
sd2 = pd.Series(dict_data)

sd2

a    1
b    2
c    3
dtype: int64

In [14]:
type(sd2)

pandas.core.series.Series

### 1.1.2 리스트 -> 시리즈로

In [15]:
list_data = ['Doc','Cat','Tiger']

list_data

['Doc', 'Cat', 'Tiger']

In [16]:
sd3 = pd.Series(list_data)

sd3

0      Doc
1      Cat
2    Tiger
dtype: object

In [17]:
type(sd3)

pandas.core.series.Series

### 1.1.3 튜플 -> 시리즈

In [18]:
# '이순신','1991-03-15','남자'
# 위 데이터를 튜플로 만들기

In [20]:
tuple_data = ('이순신','1991-03-15','남자')

tuple_data

('이순신', '1991-03-15', '남자')

In [24]:
col_name = ["이름","생년월일","성별"]

sd4 = pd.Series(tuple_data,
                index = [col_name])

sd4

이름             이순신
생년월일    1991-03-15
성별              남자
dtype: object

In [25]:
type(sd4)

pandas.core.series.Series

## 1.2 데이터프레임
#### - 엑셀의 스프레드시트 형태로 행과 열 자료구조
#### - 각 열에서는 서로 다른 종류의 값을 가질 수 있다
#### - 시리즈가 복수 개 합쳐진 것
#### - 파이썬 데이터프레임은 판다스에서 제공하는 기본구조
#### - 데이터 분석 시 가장 많이 보게 되는 구조
#### - 데이터프레임을 딕셔너리와 리스트로 만드는 차이점
#### - 딕셔너리로 만들면 데이터프레임의 열을 하나씩 쌓아가는 형태
#### - 리스트로 만들면 행을 하나씩 쌓아가는 형태

### 1.2.1 딕셔너리 -> 데이터프레임으로

In [ ]:
# 동물 : 'Dog','Cat','Tiger','Lion','Monkey'
# 나이 : 7,9,2,3,1
# 위에 동물과 나이를 하나의 딕셔너리로 만들어라

In [29]:
dic_data = {'동물':['Dog','Cat','Tiger','Lion','Monkey'],
             '나이':[7,9,2,3,1]}

dic_data

{'동물': ['Dog', 'Cat', 'Tiger', 'Lion', 'Monkey'], '나이': [7, 9, 2, 3, 1]}

In [34]:
# 데이터프레임으로 만들기

df1 = pd.DataFrame({'동물':['Dog','Cat','Tiger','Lion','Monkey'],
             '나이':[7,9,2,3,1]})
df1

       동물  나이
0     Dog   7
1     Cat   9
2   Tiger   2
3    Lion   3
4  Monkey   1

In [35]:
type(df1)

pandas.core.frame.DataFrame

### 1.2.2 리스트 -> 데이터프레임으로

In [37]:
list_data = [['Dog',7],
             ['Cat',9],
             ['Tiger',2],
             ['Lion',3],
             ['Monkey',1]]

list_data

[['Dog', 7], ['Cat', 9], ['Tiger', 2], ['Lion', 3], ['Monkey', 1]]

In [41]:
# 데이터프레임으로 만들기
df2 = pd.DataFrame(list_data,
                   columns = ['동물','나이'])

print(df2)
print(type(df2))
print(df2.dtypes) # 각각의 열의 데이터 타입

       동물  나이
0     Dog   7
1     Cat   9
2   Tiger   2
3    Lion   3
4  Monkey   1
<class 'pandas.core.frame.DataFrame'>
동물    object
나이     int64
dtype: object

### 1.2.3 비어 있는 데이터프레임만들기

In [44]:
df_null = pd.DataFrame()

df_null

Empty DataFrame
Columns: []
Index: []

In [45]:
# 컬럼(변수) 만들기
df_null["동물"] = 'Dog'
df_null

Empty DataFrame
Columns: [동물]
Index: []